<Configuration status="INFO">
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <pattern>%-5p %c{1} - %m%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="true">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>